html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  background-color: rgb(47, 45, 45);
  text-align: center;
}

#status {
  display: flex;
  justify-content: flex-end;
  align-content: 5px;
  padding: 5px 5px;
  color: grey;
}

main {
  width: 300px;
  background-color: white;
  text-align: center
}

#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

img {
  border-radius: 50%;
  border: 5px solid rgb(14, 185, 65);
}

h1  {
  text-align: center;
  font-size: 24px;
}

#occupation {
  background-color: rgb(236, 240, 241);
  height: 60px;
}

#brand {
  display: none;
}


p {
  margin: 4px 0;
}

#free {
font-size: 15px;
}

#cost {
font-size: 18px;
color: gray;
}

#psychic {
font-size: 14px;
color: gray;
}

#stars {
font-size: 18px;
}

#contact > p {
  margin: 0;
}

#lightgreen {
  background-color: limegreen;
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#darkgreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 120x;
  height: 60px;
}

#contact {
  display: inline-flex;
  margin: 0px;
}








@media only screen and (min-width: 768px) {
  body {
    /* background-color: gray;
    Use a system font, if none are available use an available sans-sarif   font
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      margin: 0;
      display: grid;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(47, 45, 45);
      text-align: center; */
      /* color: red; */
  }
  

  
  main {
    background-color: white;
    display: grid;
    grid-template-columns: 275px 300px;
    /* grid-template-rows:100px 100px 100px 100px; */
    grid-template-rows:80px 80px 80px 80px;
    width: 625px;
  }

  
  h1  {
    display: grid;
    text-align: center;
    font-size: 24px;
    grid-column-start: 2;
    text-align: left;
  }


  img {
    justify-self: center;
    display: grid;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid rgb(14, 185, 65);
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-row-start: 2;
    height: 155px;
  }

  #status {
    display: grid;
    text-align: left;
    padding: 10px;
    color: grey;
    grid-column-start: 1;
    justify-self: start;
  }


  #brand {
    grid-column-start: 2;
    text-align: left;
    display: grid;
    display: block;
    font-size: 16px;
    padding-left: 8px;
    border-left: 2px solid green;
  }
  

  #offer {
    display: grid;
    grid-column-start: 2;
    text-align: left;
  }

  #occupation {
    display: grid;
    grid-column-start: 2;
    text-align: left;
  }

  #free {
    font-size: 15px;
    padding-left: 4px;
  }
  
  #cost {
    font-size: 18px;
    color: gray;
    padding-left: 4px;
  }
  
  
  #psychic {
    font-size: 14px;
    color: gray;
  }
  
  #stars {
    font-size: 18px;
  }
  

  #contact {
    display: flex;
    margin: 0px;
    /* grid-column-start: ; */
    grid-column-start: 1;
    grid-row-start: 5;
    /* align-items: inline; */
  }

  
  #contact > p {
    margin: 0;
  }
} 

  #darkgreen {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #248235;
    width:150px;
    height: 60px;
  }

  
  #lightgreen {
    background-color: lightgreen;
    width: 150px;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  







  
